@mixin btnColors($backColor, $txtColor) {
  background-color: $backColor;
  color: $txtColor;

  &::after {
    background-color: $backColor;
  }
}

// MEDIA QUERY MANAGER

/* 
0 - 600px:      Phone "phone"
600 - 900px:    Tablet portrait "tab-port"
900 - 1200px:   Tablet landscape "tab-land"
[1200 - 1800px] Desktop (normal styles apply)
1800px +::after Big desktop "big-desktop"

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media only screen and (max-width: 37.5em) {    // 600px
      @content;
    }
  } 
  @if ($breakpoint == tab-port) {
    @media only screen and (max-width: 56.25em) {   // 900px
      @content;
    }
  } 
  @if ($breakpoint == tab-land) {
    @media only screen and (max-width: 75em) {      // 1200px
      @content;
    }
  } 
  @if ($breakpoint == big-desktop) {
    @media only screen and (min-width: 112.5em) {   // 1800px
      @content;
    }
  } 
}