@use "../../globalStyles/abstract/variables" as *;
@use "../../globalStyles/abstract/mixins" as *;

.about {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: $greyLight1;
  scroll-margin-top: -15rem;

  @include respond(tab-land) {
    padding: 22rem 2rem;
  }
}

.content {
  display: flex;
  margin: 0 auto;
  max-width: $maxWidth;

  @include respond(tab-port) {
    flex-direction: column;
    max-width: 50rem;
  }
}

.text {
    margin-right: 8rem;

    @include respond(tab-port) {
      margin-right: 0;
    }
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.photos {
    flex: 0 0 50%;
}
