@use '../../globalStyles/abstract/variables' as *;
@use '../../globalStyles/abstract/mixins' as *;

.composition {
  position: relative;

  &:hover .galleryImage:not(:hover) {
    transform: scale(.95);

    @include respond(tab-port) {
      transform: scale(1.1);
    }
  }

  @include respond(tab-port) {
    display: flex;
    margin-top: 5rem;
  }
}

.galleryImage {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba($black,0.4);
  border-radius: 2px;
  position: absolute;
  outline-offset: 2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    position: relative;
    width: 33%;
    box-shadow: 0 1.5rem 3rem rgba($black, .2);
  }

  &:hover {
    outline: 1.5rem solid #55c57a;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba($black,0.5);
    z-index: 20;

    @include respond(tab-port) {
      transform: scale(1.3);
      outline: none;
    }
  }
}

.image1 {
    top: -2rem;
    left: 0;

    @include respond(tab-port) {
      top: 0;
      left: 1rem;
      transform: scale(1.2);
    }
}

.image2 {
    top: 2rem;
    right: 0;

    @include respond(tab-port) {
      top: -1rem;
      transform: scale(1.3);
      z-index: 5;
    }
}

.image3 {
    top: 10rem;
    left: 20%;

    @include respond(tab-port) {
      top: 1rem;
      left: 0;
      transform: scale(1.1);
    }
}