@use "../../globalStyles/abstract/variables" as *;
@use "../../globalStyles/abstract/mixins" as *;

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primaryLight, 0.801),
      rgba($primaryDark, 0.801)
    ),
    url(../../assets/img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($primaryLight, 0.801),
        rgba($primaryDark, 0.801)
      ),
      url(../../assets/img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}

.logoBox {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.textBox {
  position: absolute;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
}

.heading {
  color: $white;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.headingMain {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out;

  @include respond(phone) {
    letter-spacing: 0.5rem;
    font-size: 5rem;
  }
}

.headingSub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;

  @include respond(phone) {
    letter-spacing: 0.5rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    translate: -10rem 0;
  }
  80% {
    translate: 1rem 0;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    translate: 10rem 0;
  }
  80% {
    translate: -1rem 0;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
