@use "../globalStyles/abstract/variables" as *;

.features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($primaryLight, 0.8),
      rgba($primaryDark, 0.8)
    ),
    url(../assets/img/nat-4.jpg);
  background-size: cover;
  background-position: left;
  margin-top: -12rem;
  transform: skewY(-7deg);

  display: flex;
  justify-content: center;

  & > * {
    transform: skewY(7deg);
  }
}

.featureCards {
  display: flex;
  max-width: 114rem;
}
