@use "../../globalStyles/abstract/variables" as *;
@use "../../globalStyles/abstract/mixins" as *;

.features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($primaryLight, 0.8),
      rgba($primaryDark, 0.8)
    ),
    url(../../assets/img/nat-4.jpg);
  background-size: cover;
  background-position: left;
  margin-top: -12rem;
  transform: skewY(-7deg);
  display: flex;
  justify-content: center;

  @include respond(tab-land) {
    padding: 12rem 2rem;
  }

  & > * {
    transform: skewY(7deg);
  }
}

.featureCards {
  display: flex;
  max-width: $maxWidth;
  gap: 3rem;

  @include respond(tab-land) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include respond(phone) {
    flex-direction: column;
    max-width: 50rem;
  }
}
