@use "../../globalStyles/abstract/variables" as *;
@use "../../globalStyles/abstract/mixins" as *;

.cardContainer {
  background: rgba($white, 0.8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
  border-radius: 0.3rem;
  transition: all 0.3s;
  flex: 0 1 25%;

  @include respond(tab-land) {
    flex: 0 0 45%;
    padding: 2rem;
    font-size: 1.6rem;
  }

  @include respond(phone) {
    flex: 1;
    padding: 2rem;
    font-size: 1.6rem;
  }

  &:hover {
    transform: scale(1.03) translateY(-1.5rem);
    
    @include respond(tab-port) {
      transform: none;
    }
  }

  i {
    margin-bottom: 0.5rem;
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, $primaryLight, $primaryDark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin: 0;
    }
  }
}
