@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;

  // Define what 1 rem is, relative to universal em of 16px
  font-size: 62.5%; // 1rem = 10px, 10/16 = 62.5%

  @include respond(tab-land) {
    font-size: 60%;
  }

  @include respond(tab-port) {
    font-size: 55%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $primary;
  color: $white;
}