@use "../../globalStyles/abstract/variables" as *;

.secondaryButton {
  background-color: transparent;
  color: $primary;
  display: inline-block;
  text-decoration-line: 1px solid $primary;
  text-underline-offset: .7rem;
  padding: 0.5rem;
  transition: translate 0.2s;

  &:hover {
    background-color: $primary;
    text-decoration: none;
    color: $white;
    translate: 0 -0.2rem;
    box-shadow: 0 1rem 2rem rgba($black, 0.25);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
    translate: 0;
  }
}
