@use '../../globalStyles/abstract/variables' as *;
@use '../../globalStyles/abstract/mixins' as *;

.headingLarge {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(to right, $primaryLight, $primaryDark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

}
